body{
  background-image: url('images/74426060-coffee-lover-sign-black-coffee-cup-on-top-pile-of-raw-brown-coffee-beans-with-heart-shape-love-symbo.webp');
  background-size:cover;
  background-repeat: no-repeat;
  
  background-position: center;
}
.h{
  color:white;
  margin-left: 45%;
  margin-top: 5%;
  font-size: 35px;
  font-family: 'merienda';
}
#row1{
  margin-left: 43%;
  margin-top: 6%;
  font-family: 'merienda';
}
#row2{
  margin-top: 5%;
  font-family: 'merienda';
}
#fomi{
  height: 500px;
}
#last2{
  position: relative;
  top: 85px;
}